.conatiner {
  width:640px;
  margin: 0 auto;
  position: relative;
}

.gameboard {
  position: absolute;
  top:50px;
  width: 640px;
  height: 640px;
  border-radius: 310px;
  background-color: #17202A;


}
#col {
  width: 300px;
  height: 300px;
  margin:10px;
  float: left;
  opacity: 0.6;  /*will use JS to modify the opacity value to give an impression of lighting on the columns.*/

}

.one {
    border-top-left-radius: 300px;
    background-color: #ff4040;
}

.two {

    border-top-right-radius: 300px;
    background-color: #1a7e55;
    float:left;
}

.three {

    border-bottom-left-radius: 300px;
    background-color: #F4D03F;
    float:left;
}

.four {

    background-color: #2E86C1;
    border-bottom-right-radius: 300px;
    float:left;
}

#score {
  position:absolute;
  top: 143px;
  left: 984px;

}

#player {
  position:absolute;
  top: 161px;
  left: 984px;
}


#timer {
  position:absolute;
  top: 181px;
  left: 984px;
}

button {
    position:absolute;
    top: 78px;
    left: 934px;
    border:1px solid black;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    font-size: 26px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;

}

body {
	 background: #273746;
}
