
@font-face {
  font-family: 'simonsays';
  src: url('simon-says/SimonSays-Bold.ttf');
}

body {
	 /*background: #979A9A;*/
   background: url('images/gplaypattern_@2X.png');
   font-family: 'simonsays',cursive;
   font-size: 25px;
}

.conatiner {
  width:640px;
  margin: 0 auto;
  position: relative;
}

.gameboard {
  position: absolute;
  top: 33px;
  width: 640px;
  height: 640px;
  border-radius: 310px;
  background-color: #17202A;


}
.col {
  width: 300px;
  height: 300px;
  margin:10px;
  float: left;
  opacity: 0.6;  /*will use JS to modify the opacity value to give an impression of lighting on the columns.*/

}

.one {
    border-top-left-radius: 300px;
    background-color: #ff4040;
}

.two {

    border-top-right-radius: 300px;
    background-color: #1a7e55;
    float:left;
}

.three {

    border-bottom-left-radius: 300px;
    background-color: #F4D03F;
    float:left;
}

.four {

    background-color: #2E86C1;
    border-bottom-right-radius: 300px;
    float:left;
}

#round {
  position:absolute;
  top: 250px;
  left: 947px;

}

#result {
  position:absolute;
  top: 195px;
  left: 904px;

}

#player {
  position:absolute;
  top: 161px;
  left: 948px;
  text-shadow: 1px 1px 1px #ccc;
}


#timer {
  position:absolute;
  top: 326px;
  left: 949px;
}


#score {
  position:absolute;
  top: 401px;
  left: 949px;
}

button {
    position:absolute;
    top: 78px;
    left: 934px;
    border:1px solid black;
    /*font-weight: bold;*/
    display: inline-block;
    margin: 10px;
    font-size: 26px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;

}
