
@font-face {
  font-family: 'simonsays';
  src: url('simon-says/SimonSays-Bold.ttf');
}

body {
	 /*background: #979A9A;*/
   background: url('images/gplaypattern_@2X.png');
   font-family: 'simonsays',cursive;
   font-size: 30px;
}

.conatiner {
  width:640px;
  margin: 0 auto;
  position: relative;
}

.gameboard {
  position: absolute;
  top: 33px;
  width: 640px;
  height: 640px;
  border-radius: 310px;
  background-color: #17202A;


}
.col {
  width: 300px;
  height: 300px;
  margin:10px;
  float: left;
  opacity: 0.6;  /*will use JS to modify the opacity value to give an impression of lighting on the columns.*/

}

.one {
    border-top-left-radius: 300px;
    background-color: #ff4040;
}

.two {

    border-top-right-radius: 300px;
    background-color: #1a7e55;
    float:left;
}

.three {

    border-bottom-left-radius: 300px;
    background-color: #F4D03F;
    float:left;
}

.four {

    background-color: #2E86C1;
    border-bottom-right-radius: 300px;
    float:left;
}

#player {
  position:absolute;
  top: 161px;
  left: 869px;
  text-shadow: 1px 1px 1px #ccc;
}


#round {
  position:absolute;
  top: 250px;
  left: 871px;
  text-shadow: 1px 1px 1px #ccc;

}


#timer {
  position:absolute;
  top: 326px;
  left: 871px;
  text-shadow: 1px 1px 1px #ccc;
}

#score {
  position:absolute;
  top: 401px;
  left: 871px;
  text-shadow: 1px 1px 1px #ccc;
}

#result {
  position:absolute;
  top: 265px;
  left: 871px;
  text-shadow: 1px 1px 1px #ccc;

}

#whowon {
  position:absolute;
  top: 200px;
  left: 866px;
  text-shadow: 1px 1px 1px #ccc;
}

#wholost {
  position: absolute;
  top: 315px;
  left: 866px;
  text-shadow: 1px 1px 1px #ccc;
}

#winner {
 display: none;
 position: absolute;
 width: 2%;
 height: 7%;
 text-shadow: 1px 1px 1px #ccc;
 /*top: 191px;*/
 left: 819px;

}

#loser {
  display:none;
  position: absolute;
  width: 3%;
  height: 8%;
  text-shadow: 1px 1px 1px #ccc;
  left: 822px;
  /*top: 306px;*/

}

#start {
    /*position:absolute;
    top: 78px;
    left: 868px;
    border:1px solid black;
    display: inline-block;
    margin: 10px;
    font-size: 26px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;*/
   position:absolute;
   top: 78px;
   left: 868px;
   width: 142px;
   height: 55px;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 25px;
   font-family: 'simonsays';
   text-decoration: none;
   vertical-align: middle;
   }

#start:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }

#start:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

}
